*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;

}

h1 {
  font-family: 'DM Serif Text', serif;
  font-size: 5rem;
}


.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden
}

#no-show{
  display: none;
}